<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form method="POST" action="/update-success" class="product-form" enctype='application/json'>
            <div class="form-control">

                <ul id="search">
                   
                    <li>
                        <h2>Update Client Field
                        </h2>
                        <label for="phone-number">Name</label>
                        <input type="text" name='name'  placeholder="Enter Client name" value="<%= oldInput.name %>" ><p>
                        <label for="phone-number">Email</label>
                        <input type="email" name="email" placeholder="Enter email" value="<%= oldInput.email %>"  ><p>
                        <label for="phone-number">Phone Number</label>
                        <input type="tel" name="number" placeholder="Enter phone number" value="<%= oldInput.number %>" ><p>
                        <label for="phone-number">Total Bill</label>
                        <input type="number" name="bill" placeholder="Enter total bill amount ₹"value="<%= oldInput.bill %>"  ><p>
                        <input type="hidden" name="oldemail" value="<%=oldInput.oldemail%>">

                    </li>

                </ul>
                <button type="submit" class="btn">Update</button>


          </form>

    </main>
<%- include('includes/end.ejs') %>